.welcome{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  @include laptop{
	margin-bottom: -80px;
  }
 
  >h1{
	font-size:48px ;
	>span{
	  color: red;
	}
  }
  >p{
	font-size: 18px;
  }
}
.dashboard{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 72% 26%;
  grid-template-rows: fit-content(0%);
  gap: 0 2%;
  grid-template-areas:
    ". .";
  @include laptop{
	grid-template-columns: 1fr;
	grid-template-rows: 17% 1fr;
	gap: 0px 0px;
	grid-template-areas:
    "."
    ".";
  }
  @include largeScreens{
	grid-template-columns: 76% 22%;
  }
}
.charts{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 54% 42% ;
  gap: 4% 0;
  grid-template-areas:
    "."
    ".";
  width: 100%;
  height: fit-content;
  align-content: center;
}
.secondary-charts-container{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: fit-content(100%);
  gap: 0 2%;
  grid-template-areas:
    ". . .";
  @include desktop{
  	margin-top: 34px;
  }
}

.key-infos__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.5%;
  @include laptop{
	flex-direction: row;
	grid-row-start: 1;
	margin-bottom: 32px;
  }
  
  height: 100%;
  width: 100%;
}

.key-info{
  display: flex;
  flex-direction: column;
  
  &__container{
	display: flex;
	align-items: center;
	gap: 18px;
	background-color: #FBFBFB;
	width: 100%;
	border-radius: 5px;
	padding: 15px 20px;
	@include largeScreens{
	  min-height:118px ;
	}
  }
  &__value{
	display: flex;
	flex-direction: column;
	>h5{
	  font-size: 20px;
	  margin-bottom: 4px;
	}
	>p{
	  font-size: 14px;
	  color: #74798C;
	}
  }
}
